@font-face {
    font-family: normal;
    src: url(RobotoMono-VariableFont_wght.ttf);
}

#first{
    height: 95px;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    div{
        display: flex;
        flex-direction: row;
    }
    #l{
        color: #0066FE;
    }
    h1 {
        color: white;


    }
}
#second{
    height: 95px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 50px;
    font-family: normal;
}
header{
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #1E1E1E;
    position: fixed;
}
.main{
    background-color: rgb(10, 12, 11);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
div
{
    font-family: normal;
}
.section1
{
    min-height: 500px;
    height: 900px;
    color: white;
    .textmain
    {
        h1
        {
            font-size: 70px;
        }
        display: flex;
        margin-top: 50vh;
        margin-left: 10%;
    }
    .decor
    {
        float: right;
        display: flex;
        margin-top: -30vh;
    }
}
.section2
{
    min-width: 1000px;
    
    .texty
    {
        margin-top: 75vh;
    }
    .text1
    {
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: -55vh;
        margin-bottom: 150vh;
        margin-left: 10vw;
        .nadpis1
        {
            display: flex;
            flex-direction: row;
            #char
            {
                color: #0066FE;
            }
        }
        .popis1
        {
            font-size: 30px;
            padding-left: 25px;
        }
    }
    .text2
    {
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: -165vh;
        margin-right: 10vw;
        margin-left: 50vw;
        margin-bottom: 60vh;
        .nadpis2
        {
            display: flex;
            flex-direction: row;
            #char
            {
                color: #0066FE;
            }
        }
        .popis2
        {
            font-size: 30px;
            padding-left: 25px;
        }
    }
    .text3
    {
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: -55vh;
        margin-bottom: 50vh;
        margin-left: 10vw;
        .nadpis3
        {
            display: flex;
            flex-direction: row;
            #char
            {
                color: #0066FE;
            }
        }
        .popis3
        {
            font-size: 30px;
            padding-left: 25px;
        }
    }
    .decor2
    {
        float: right;
        margin-bottom: -40vh;
    }
    .decor3
    {
        margin-bottom: -20vh;
    }
}
footer{
    bottom: 0;
    left: 0;
    height: 250px;
    width: 100%;
    background-color: #1E1E1E;
    color: white;
    margin-top: auto;
    .nadpis
    {
        h2
        {
            font-size: 35px;
            opacity: 0.3;
        }
    }
    .info
    {
        p
        {
            font-size: 20px;
            opacity: 0.3;
        }
    }
    .kontakt
    {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        padding-left: 5em;
        padding-top: 2em;
    }
    .footerlogo
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1vw;
        margin-top: -5vh;
        .logonapis
        {
            opacity: 0.3;
            display: flex;
            flex-direction: row;
            #l
            {
                color: #0066FE;
            }
        }
        .text
        {
            opacity: 0.3;
            padding-top: 15px;
        }
    }
}

.Onas{
    height: 450px;
    width: 1150px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    color: white;
    gap: 50px;
    margin-top: 20vh;

    p{
        font-size: 30px;


    }
    .nadpis{
        display: flex;
        flex-direction: row;
        gap: 20px;
        h1{ 
            font-size: 70px;

        }
        #char
        {
            color: #0066FE;
        }
    }
    
    .text-onas{
        margin-left: 40px;
        height: 365px;
        width: 1000px;
    }
}
.main-onas{
    background-color: rgb(10, 12, 11);
    display: grid;
    height: 100vh;
}

.formular{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 80px);
    gap: 30px;

    input::placeholder{
        color: white;
        opacity: 1;
        text-align: center;
        font-size: 32px;
        
    }
    textarea::placeholder{
        color: white;
        opacity: 1;
        font-size: 32px;
        padding-left: 15px;
    }

    input{
        height: 100%;
        width: 100%;
        border-radius: 15px;
        background-color: #1E1E1E;
        border: none;
        color: white;
        font-size: 32px;
       
    }
    textarea{
        height: 100%;
        width: 100%;
        resize: none;
        border-radius: 15px;
        background-color: #1E1E1E;
        border: none;
        color: white;
    }
    
    #C{
        grid-column: 1 / 3;
        grid-row: 2 / 4;
        
    }

    #D{
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        display: grid;
        justify-content: end;
    }

    button{
        height: 75px;
        width: 205px;
        border-radius: 15px;
        background-color: #0267FF;
        color: white;
        border: none;
        

    }
    //přidělat alert po odeslání
    //změnit design
//fkhakhflahflahjl
}