@media screen and (max-height: 900px) {
  .kontakt1 {
    margin-top: -30vh;
  }
}
@media screen and (min-height: 901px) {
  .kontakt1 {
    margin-top: -20vh;
  }
}
@font-face {
  font-family: normal;
  src: url(RobotoMono-VariableFont_wght.ttf);
}
.kontakt2 a:link {
  text-decoration: none;
}
.kontakt2 a:hover {
  color: #0066FE;
}
.kontakt2 #char {
  color: #0066FE;
}
.kontakt2 #char1 {
  color: #0066FE;
}
.kontakt2 .text {
  color: white;
}
.kontakt2 .text a:link {
  text-decoration: none;
}
.kontakt2 .spolu:hover .text {
  color: #0066FE;
}
.kontakt2 .spolu:hover #char {
  color: white;
}

.spolu {
  display: flex;
  flex-direction: row;
}

header {
  z-index: 3;
  top: 0;
}

#first {
  height: 95px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}
#first div {
  display: flex;
  flex-direction: row;
}
#first #l {
  color: #0066FE;
}
#first h1 {
  color: white;
}

#second {
  height: 95px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 50px;
  font-family: normal;
}

header {
  height: 95px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #1E1E1E;
  position: fixed;
}

.main {
  background-color: rgb(10, 12, 11);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

div {
  font-family: normal;
}

.onasdecor img {
  height: 400px;
  float: right;
}

.onasdecor2 img {
  height: 400px;
}

.section1 {
  min-height: 500px;
  height: 900px;
  color: white;
}
.section1 .textmain {
  display: flex;
  margin-top: 50vh;
  margin-left: 10%;
}
.section1 .textmain h1 {
  font-size: 70px;
}
.section1 .decor {
  float: right;
  display: flex;
  margin-top: -30vh;
}

.section2 {
  min-width: 900px;
}
.section2 .texty {
  margin-top: 75vh;
}
.section2 .text1 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: -55vh;
  margin-bottom: 150vh;
  margin-left: 10vw;
}
.section2 .text1 .nadpis1 {
  display: flex;
  flex-direction: row;
}
.section2 .text1 .nadpis1 #char {
  color: #0066FE;
}
.section2 .text1 .popis1 {
  font-size: 30px;
  padding-left: 25px;
}
.section2 .text2 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: -165vh;
  margin-right: 10vw;
  margin-left: 50vw;
  margin-bottom: 60vh;
}
.section2 .text2 .nadpis2 {
  display: flex;
  flex-direction: row;
}
.section2 .text2 .nadpis2 #char {
  color: #0066FE;
}
.section2 .text2 .popis2 {
  font-size: 30px;
  padding-left: 25px;
}
.section2 .text3 {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: -55vh;
  margin-bottom: 40vh;
  margin-left: 10vw;
}
.section2 .text3 .nadpis3 {
  display: flex;
  flex-direction: row;
}
.section2 .text3 .nadpis3 #char {
  color: #0066FE;
}
.section2 .text3 .popis3 {
  font-size: 30px;
  padding-left: 25px;
}
.section2 .decor2 {
  float: right;
  margin-bottom: -40vh;
}
.section2 .decor3 {
  margin-bottom: -20vh;
}

footer {
  bottom: 0;
  left: 0;
  height: 250px;
  width: 100%;
  background-color: #1E1E1E;
  color: white;
  padding-top: 5vh;
}
footer .nadpis h2 {
  font-size: 35px;
  opacity: 0.3;
}
footer .info p {
  font-size: 20px;
  opacity: 0.3;
}
footer .kontakt {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding-left: 5em;
}
footer .footerlogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
  margin-top: -5vh;
}
footer .footerlogo .logonapis {
  opacity: 0.3;
  display: flex;
  flex-direction: row;
}
footer .footerlogo .logonapis #l {
  color: #0066FE;
}
footer .footerlogo .text {
  opacity: 0.3;
  padding-top: 15px;
}

.Onas {
  height: 450px;
  width: 1150px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  color: white;
  gap: 50px;
  margin-top: -15vh;
  margin-bottom: -30vh;
  z-index: 1;
}
.Onas p {
  font-size: 30px;
}
.Onas .nadpis {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.Onas .nadpis h1 {
  font-size: 70px;
}
.Onas .nadpis #char {
  color: #0066FE;
}
.Onas .text-onas {
  margin-left: 40px;
  height: 365px;
  width: 1000px;
}

.main-onas {
  background-color: rgb(10, 12, 11);
  display: grid;
  height: 100vh;
  width: 100vw;
}

.kontaktdecor img {
  height: 450px;
}

.kontaktdecor2 img {
  height: 450px;
  float: right;
}

.section3 {
  height: 500px;
  background-color: #1E1E1E;
  margin-bottom: 50vh;
}
.section3 .text1 {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
}
.section3 .text1 p {
  font-size: 20px;
}
.section3 .hlavninadpis {
  justify-content: center;
  display: flex;
  padding-top: 2.5vh;
}
.section3 .hlavninadpis h1 {
  font-size: 40px;
}
.section3 .nadpis1 {
  display: flex;
  flex-direction: row;
  padding-top: 2.5vh;
  padding-left: 10px;
}
.section3 #char {
  color: #0066FE;
}
.section3 h1 {
  font-size: 30px;
  color: white;
}

.kontakt1 {
  height: 450px;
  width: 1150px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  color: white;
  gap: 50px;
  margin-bottom: -30vh;
  z-index: 1;
}
.kontakt1 p {
  font-size: 30px;
}
.kontakt1 .nadpis {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.kontakt1 .nadpis h1 {
  font-size: 70px;
}
.kontakt1 .nadpis #char {
  color: #0066FE;
}
.kontakt1 .formular {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 80px);
  gap: 30px;
}
.kontakt1 .formular input::-moz-placeholder {
  color: white;
  opacity: 1;
  text-align: center;
  font-size: 32px;
}
.kontakt1 .formular input::placeholder {
  color: white;
  opacity: 1;
  text-align: center;
  font-size: 32px;
}
.kontakt1 .formular textarea::-moz-placeholder {
  color: white;
  opacity: 1;
  font-size: 32px;
  padding-left: 15px;
}
.kontakt1 .formular textarea::placeholder {
  color: white;
  opacity: 1;
  font-size: 32px;
  padding-left: 15px;
}
.kontakt1 .formular input {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #1E1E1E;
  border: none;
  color: white;
  font-size: 32px;
}
.kontakt1 .formular textarea {
  height: 100%;
  width: 100%;
  resize: none;
  border-radius: 15px;
  background-color: #1E1E1E;
  border: none;
  color: white;
}
.kontakt1 .formular #C {
  grid-column: 1/3;
  grid-row: 2/4;
}
.kontakt1 .formular #D {
  grid-column: 2/3;
  grid-row: 4/5;
  display: grid;
  justify-content: end;
}
.kontakt1 .formular button {
  height: 75px;
  width: 205px;
  border-radius: 15px;
  background-color: #0267FF;
  color: white;
  border: none;
  font-size: 25px;
}/*# sourceMappingURL=styly.css.map */